<p id="notice"><%= notice %></p>

<h1>Picture Albums</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @picture_albums.each do |picture_album| %>
      <tr>
        <td><%= picture_album.title %></td>
        <td><%= picture_album.description %></td>
        <td><%= link_to 'Show', picture_album %></td>
        <td><%= link_to 'Edit', edit_picture_album_path(picture_album) %></td>
        <td><%= link_to 'Destroy', picture_album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture Album', new_picture_album_path %>
